.button-link {
  font-family: "Montserrat", sans-serif;
  background: $color-dark;
  color: $color-white;

  padding: 20px 32px;
  border-radius: 20px;
  border: none;
  
  cursor: pointer;
  @extend %transition;

  @media (hover: hover) {
    &:hover {
      background: $color-white;
      color: $color-dark;
    }
  }
}

.button {
  @include flex ($justify-content: flex-end, $align-items: none, $gap: 20px);

  &-arrow {
    @include flex ($justify-content: center);
    width: 56px;
    height: 56px;
    border-radius: 20px;
    border: 1px solid $color-white;

    background: transparent;
    cursor: pointer;
    @extend %transition;

    &--left {
      transform: scaleX(-1);
    }
    
    @media (hover: hover) {
      &:hover {
        background: $color-white;
      }
    }
    
    & svg path {
      stroke: $color-white; 
    }

    @media (hover: hover) {
      &:hover svg path {
        stroke: $color-primary; 
      }
    }
    
    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.button-up {
  @include flex ($justify-content: center);
  width: 56px;
  height: 56px;
  padding: 0px;

  position: fixed;
  right: 8px;
  bottom: 8px;

  border-radius: 100px;
  border: 1px solid $color-primary;
  background: $color-white;
  @extend %transition;
  opacity: 0;
  pointer-events: none;

}

.button-up.active {
  @include media-tablet {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }
}