.footer {
  padding: 60px 0;

  &__wrapper {
    @include flex ($flex-direction: column, $gap: 60px);
  
    color: $color-dark;
    background-color: $color-white;
  }

  &__container {
    @include flex ($flex-direction: column, $justify-content: none, $gap: 12px);
    align-self: stretch;
  
    a {
      color: $color-dark;
  
      @media (hover: hover) {
        &:hover {
          color: $color-primary;
          transition: all .3s ease-out;
        }
      }
    }
  }
}