.about {
  background: 
    url(../img/backgrounds/bg-snow.png) no-repeat center / cover,
    $color-primary;

    padding: 60px;

    &__container {
      @include flex;
    
      border-radius: 20px;
      background: $color-white;
    
      .caption {
        color: $color-primary;
      }
    }
    
    &__text {
      @include flex ($flex-direction: column, $justify-content: center, $align-items: flex-start, $gap: 20px);

      margin-left: 60px;
      max-width: 426px;
      }
    
    &__img {
      width: 638px;
      height: 528px;
      border-radius: 20px;
    }
}