.navigation {
  display: flex;
  margin: 0;
  gap: 8px;
}

.navigation__link {
  padding: 12px 20px;
  border-radius: 12px;
  color: $color-dark;
  @extend %transition;
  &:hover {
    background: $color-10primary;
    color: $color-primary;
  }
}

.navigation--active-link {
  background-color: $color-10primary;
  color: $color-primary;
}