.card-contact, .card__container, .navigation__link, .footer__container a:hover, .tabs span, .socials_ico:hover svg path, .ico, .button-arrow, .button-link {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
}

a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 5.76px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 0;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 148%;
  letter-spacing: none;
  text-transform: none;
  margin: 0;
}

.action-large {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  margin: 0;
}

.action-small {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 0;
}

.caption {
  font-family: Allura;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-transform: none;
  margin: 0;
}

.slider-text {
  font-size: 8rem;
  font-weight: 600;
  line-height: none;
  letter-spacing: none;
  text-transform: uppercase;
  margin: 0;
}

.button-link {
  font-family: "Montserrat", sans-serif;
  background: #181C29;
  color: #FFFFFF;
  padding: 20px 32px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.button-link:hover {
  background: #FFFFFF;
  color: #181C29;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: none;
  gap: 20px;
}
.button-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 56px;
  height: 56px;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  background: transparent;
  cursor: pointer;
}
.button-arrow--left {
  transform: scaleX(-1);
}
.button-arrow:hover {
  background: #FFFFFF;
}
.button-arrow svg path {
  stroke: #FFFFFF;
}
.button-arrow:hover svg path {
  stroke: #FF4646;
}
.button-arrow:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
}
.logo__text {
  color: #181C29;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.ico_logo {
  background-image: url("../img/icons/snowflake.svg");
  width: 24px;
  height: 24px;
}

.ico_santa-claus {
  background-image: url("../img/icons/santa-claus.svg");
  width: 80px;
  height: 80px;
}

.ico_christmas-tree {
  background-image: url("../img/icons/christmas-tree.svg");
  width: 80px;
  height: 80px;
}

.ico_snake {
  background-image: url("../img/icons/snake.svg");
  width: 80px;
  height: 80px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.socials_ico {
  display: flex;
  cursor: pointer;
}
.socials_ico .ico {
  margin: 8px 8px;
  width: 24px;
  height: 24px;
}
.socials_icosvg path {
  stroke: #181C29;
}
.socials_ico:hover svg path {
  stroke: #FF4646;
}

.for-work {
  color: #4361FF;
}

.for-health {
  color: #06A44F;
}

.for-harmony {
  color: #FF43F7;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media (max-width: 490px) {
  .tabs {
    gap: 0;
  }
}
.tabs span {
  border-radius: 12px;
  padding: 12px 20px;
  cursor: pointer;
}
@media (max-width: 490px) {
  .tabs span {
    padding: 12px 8px;
  }
}
.tabs span:hover {
  background: rgba(255, 255, 255, 0.2);
}
.tabs .tabs--active {
  background: rgba(255, 255, 255, 0.2);
  cursor: default;
}

.hamburger__line, .hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #181C29;
  border-radius: 5px;
  left: 10px;
}

.hamburger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  top: 15.5px;
}

.hamburger__line {
  bottom: 15.5px;
}

.wrapper {
  max-width: 1276px;
  margin: auto;
}
@media (max-width: 1276px) {
  .wrapper {
    padding: 0 8px;
  }
}

.header {
  background-color: #FFFFFF;
  padding: 12px 0 12px 0;
  color: #181C29;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
}

.layout-4-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.layout-3-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: 60px;
}
@media (max-width: 768px) {
  .layout-3-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}

.layout-12-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.footer {
  padding: 60px 0;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  color: #181C29;
  background-color: #FFFFFF;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.footer__container a {
  color: #181C29;
}
.footer__container a:hover {
  color: #FF4646;
}

.navigation {
  display: flex;
  margin: 0;
  gap: 8px;
}
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.navigation__link {
  padding: 12px 20px;
  border-radius: 12px;
  color: #181C29;
}
.navigation__link:hover {
  background: rgba(255, 70, 70, 0.1);
  color: #FF4646;
}

.navigation--active-link {
  background-color: rgba(255, 70, 70, 0.1);
  color: #FF4646;
}

.hero {
  background: url(../img/backgrounds/bg-ball.png) no-repeat center/cover, url(../img/backgrounds/bg-snow.png) no-repeat center/cover, #FF4646;
  color: #FFFFFF;
  padding: 60px;
  border-radius: 20px 20px 0px 0px;
}
@media (max-width: 768px) {
  .hero {
    padding: 60px 0;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
  padding: 60px 0;
  max-width: 430px;
}
.about {
  background: url(../img/backgrounds/bg-snow.png) no-repeat center/cover, #FF4646;
  padding: 60px 0px;
}
.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
  border-radius: 20px;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}
@media (max-width: 638px) {
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: none;
    align-self: stretch;
  }
}
.about__container .caption {
  color: #FF4646;
}
.about__text-container {
  display: flex;
  flex: 1;
}
.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0 60px;
  max-width: 426px;
}
@media (max-width: 638px) {
  .about__text {
    padding: 60px 20px;
    align-self: stretch;
  }
}
.about__img-container {
  display: flex;
  flex: 1;
}
.about__img {
  width: 100%;
  max-width: 638px;
  height: 528px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slider-section {
  background: url(../img/backgrounds/bg-snow.png) no-repeat center/cover, #FF4646;
  padding: 60px 0;
  color: #FFFFFF;
  overflow: hidden;
}
.slider-section__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  gap: 20px;
}
.slider-section__container .button {
  align-self: flex-end;
}
.slider-section__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.slider img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.best-gifts {
  background: url(../img/backgrounds/bg-snow.png) no-repeat center/cover, #FF4646;
  padding: 60px 0;
  color: #FFFFFF;
}
.best-gifts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.best-gifts__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: none;
  width: 310px;
  height: 342px;
  padding: 0;
  border-radius: 20px;
  background: #ECF3F8;
  cursor: pointer;
}
.card img {
  width: 310px;
  height: 230px;
}

.card:hover .card__container {
  color: #FF4646;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding: 20px;
  height: 72px;
  border-radius: 20px;
  background: #FFFFFF;
  color: #181C29;
}

.card-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  min-width: 324px;
  padding: 20px 20px;
  border-radius: 20px;
  background: #ECF3F8;
  color: #181C29;
  cursor: pointer;
}
.card-contact:hover {
  color: #FF4646;
}

.cta {
  background: url(../img/backgrounds/bg-forest.png) no-repeat center/cover, url(../img/backgrounds/bg-snow.png) no-repeat center/cover, #FF4646;
  padding: 60px 0;
  border-radius: 0px 0px 20px 20px;
}
.cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-bottom: -2px;
  max-width: 426px;
  padding: 120px 0;
  color: #FFFFFF;
}
.cta__wrapper h2 {
  line-height: 151%;
}
.cta__timer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: none;
  padding: 8px 12px 12px 12px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
}
.timer__container {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: none;
  width: 80px;
}
.timer .separator {
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

.gifts {
  background: url(../img/backgrounds/bg-garland.png) no-repeat top/contain, #FF4646;
  padding: 60px 0;
  border-radius: 20px 20px 20px 20px;
  color: #FFFFFF;
}
.gifts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.gifts h1 {
  max-width: 426px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */