%hamburger-line {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: $color-dark;
  border-radius: 5px;
  left: 10px;
}

.hamburger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  @include media-tablet {
    display: inline-block;
  }
  &:before {
    @extend %hamburger-line;
    top: 15.5px;
  }
}

.hamburger__line {
  @extend %hamburger-line;
  bottom: 15.5px;
}