.ico {
  cursor: pointer;
  display: inline-block;
  @extend %transition;
}

.ico_logo {
  background-image: url("../img/icons/snowflake.svg");
  width: 24px;
  height: 24px;
}

.ico_santa-claus {
  background-image: url("../img/icons/santa-claus.svg");
  width: 80px;
  height: 80px;
}

.ico_christmas-tree {
  background-image: url("../img/icons/christmas-tree.svg");
  width: 80px;
  height: 80px;
}

.ico_snake {
  background-image: url("../img/icons/snake.svg");
  width: 80px;
  height: 80px;
}

.socials {
  @include flex ($justify-content: center, $gap: 12px);

  &_ico {
    display: flex;
    cursor: pointer;

    .ico {
      margin: 8px 8px;
      width: 24px;
      height: 24px;
    }

    &svg path {
      stroke: $color-dark;
    }

    &:hover svg path {
      stroke: $color-primary;
      @extend %transition;
    }
  }
}