.layout-4-column {
  @include flex ($justify-content: center, $gap: 12px);
  flex-wrap: wrap;
}

.layout-3-column {
  @include flex ($justify-content: center, $gap: 12px);
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: 60px;

  @include media-tablet {
    @include flex ($flex-direction: column, $justify-content: center, $gap: 12px);
  }
}

.layout-12-column {
  @include flex ($justify-content: center, $gap: 12px);
  flex-wrap: wrap;
}