.about {
  background: 
    url(../img/backgrounds/bg-snow.png) no-repeat center / cover,
    $color-primary;
    padding: 60px 0px;

    &__container {
      @include flex;
    
      border-radius: 20px;
      background: $color-white;
      overflow: hidden;
      position: relative;

      @media (max-width: 638px) {
        @include flex ($flex-direction: column, $justify-content: center, $align-items: flex-start);
        align-self: stretch;
      }
    
      .caption {
        color: $color-primary;
      }
    }

    &__text-container {
      display: flex;
      flex: 1;
    }
    
    &__text {
      @include flex ($flex-direction: column, $justify-content: center, $align-items: flex-start, $gap: 20px);
      padding: 0 60px;
      max-width: 426px;

      @media (max-width: 638px) {
        padding: 60px 20px;
        align-self: stretch;
      }
      }

    &__img-container {
      display: flex;
      flex: 1;
    }
    
    &__img {
      width: 100%;
      max-width: 638px;
      height: 528px;
      border-radius: 20px;
      object-fit: cover;
      object-position: center;
    }
}