.best-gifts {
  background: 
    url(../img/backgrounds/bg-snow.png) no-repeat center / cover,
    $color-primary;

  padding: 60px 0;
  color: $color-white;

  &__wrapper {
    @include flex ($flex-direction: column, $gap: 20px);
  }
}

.best-gifts__text {
  @include flex ($flex-direction: column, $gap: 12px);
}




