.cta {
  background: 
    url(../img/backgrounds/bg-forest.png) no-repeat center / cover,
    url(../img/backgrounds/bg-snow.png) no-repeat center / cover,
    $color-primary;

    padding: 60px 0;
    border-radius: 0px 0px 20px 20px;

    &__wrapper {
      @include flex ($flex-direction: column, $gap: 20px);
      text-align: center;
      margin-bottom: -2px;
    
      max-width: 426px;
      padding: 120px 8px;
    
      color: $color-white;

      h2 {
        line-height: 151%;
      }
    }

    &__timer {
      @include flex ($flex-direction: column, $gap: 8px);
    }
}

.timer {
  @include flex ($justify-content: none);
  padding: 8px 12px 12px 12px;
  border-radius: 20px;

  background: $color-40white;

  &__container {
    @include flex ($flex-direction: column, $justify-content: none);
    width: 80px;
  }

  .separator {
    width: 1px;
    height: 20px;

    background-color: $color-40white;
  }
}

