@mixin font ($size, $weight: 600, $height, $letter-spacing: none, $text-transform: uppercase, $margin: 0) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
  margin: $margin;
}

@mixin flex ($display: flex, $flex-direction: row, $justify-content: space-between, $align-items: center, $gap: none) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) { @content; }
}